.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0 0 0;
    padding: 50px;
    background-color: whitesmoke;
    width: 30%;
}
.bodyy {
    display: flex;
    justify-content: center;
    font-family: DM Sans;
}
button {
    padding: 20px;
    background-color: teal;
    color: white;
    font-weight: 600;
    font-size: medium;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 30px;
}
button:hover{
    background-color: teal;
    color: white;
    transform: scale(1);
    transform: all 2s;
    border: 1px solid goldenrod;
}
h2 {
    font-weight: 800;
    background-color: white;
    padding: 20px 40px 20px 40px;
    border: 1px solid teal;
    border-radius: 10px;
}
p {
    margin-top: 60px;
}
a {
    text-decoration: none;
    font-weight: 600;
}
a:hover {
    text-decoration: underline;
}